body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.container {
    width: 500px;
    margin: auto;
    border: 1px solid black;
    padding: 20px;
}
.title {
    background-color: #99ccff;
    padding: 10px;
    font-weight: bold;
}
label {
    display: inline-block;
    width: 120px;
    margin-top: 10px;
}
input,select,textarea {
    margin-top: 10px;
}



        