body {
    background-color: #f8f9fa;
}

.section-title {
    border-left: 5px solid red;
    padding-left: 10px;
    margin-bottom: 25px;
    font-weight: bold;
}

.course-card {
    height: 100%;
}

.course-card img {
    height: 180px;
    object-fit: cover;
}

.course-info {
    list-style: none;
    padding: 0;
}

.course-info li {
    margin-bottom: 6px;
    font-size: 14px;
}

.course-info i {
    color: red;
    margin-right: 6px;
}
